---
  extends: "./node_modules/eslint-config-airbnb/.eslintrc"
  parser: "babel-eslint"
  rules:
    strict: 0
    jsx-a11y/img-uses-alt: 0
    jsx-a11y/redundant-alt: 0
    jsx-a11y/valid-aria-role: 0
    no-underscore-dangle: 0
    import/no-unresolved: 0
  env:
    browser: true
    mocha: true
    jasmine: true
  plugins:
    - "react"
    - "jsx-a11y"
  globals:
    __API__: true
    __BASE__: true
    __DEBUG__: true
    __DEV__: true
    sinon: true
